{% extends 'base.html' %}
{% load i18n %}

{% block title %}Account Login {% endblock %}

{% block content %}
<section id="login" class="col mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card mt-3 mb-4 shadow rounded">
          <div class="card-header linearbackground text-white" style="background-color: #81fbae">
            <span class="px-2" style="font-weight: 600;">Login User</span>
          </div>
          <div class="card-body px-4">
            <p class="title">Provide your username and password to login.</p>
            <!-- Alerts
            {% include 'partials/_alerts.html' %}
            -->
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group my-3">
                <label for="username" class="small">Username</label>
                <input type="text" name="username" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="password2" class="small">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>

              <input type="submit" value="Login" class="btn btn-success btn-sm mx-3 mt-3 float-end">
            </form>
            <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url 'register' %}">{% trans "Register" %}</a>!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}