{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% load i18n %}

{% block content %}
<section id="login" class="col mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card mt-3 mb-4 shadow rounded">
          <div class="card-header linearbackground text-white" style="background-color: #81fbae">
            <span class="px-2" style="font-weight: 600;">User account edit</span>
          </div>
          <div class="card-body px-4">
            <p class="lead">Forgot your password?</p>
            <p class="title">Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="{% trans 'Send email' %}" class="btn btn-success btn-sm mx-3 mt-3 float-end" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}