{% load static %}
<!-- Sidebar -->
<nav class="col sidebar">
    <div class="d-flex flex-row justify-content align-items-center flex-wrap">
        <button type="button" class="w-100 btn btn-lg text-white d-flex" href="#"><i
                class="bi bi-x-diamond pe-3"></i>WebDev</button>
    </div>

    <br>

    {% if user.is_authenticated %}
    <div class="profile-header-container text-center w-75 mb-3">
        <div class="profile-header-img">
            {% if user.profile.photo %}
            <img class="img-circle"
                src="{{ user.profile.photo.url }}" />
            {% endif %}
            <div class="rank-label-container">
                <span class="label label-default text-white small rank-label">{{ user.username }}</span>
            </div>
        </div>
    </div>

    <ul class="nav flex-column my-4" id="#navbar_ul">
        <li class="nav-item w-100">
            <a href="{% url 'view_profile' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-emoji-sunglasses small text-white me-4"></i>
                <span class="small me-5">My Profile</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'my_articles' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-chat-left small text-white me-4"></i>
                <span class="small me-5">My Articles</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'my_drafts' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-chat-left small text-white me-4"></i>
                <span class="small me-5">My Drafts</span>
            </a>
        </li>

    </ul>
    <hr class="text-white w-100 my-2 text-center">
    {% endif %}


    <ul class="nav flex-column my-4" id="#navbar_ul">
        <li class="nav-item w-100">
            <a href="{% url 'blog' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-columns small text-white me-4"></i>
                <span class="small me-5">Blog</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'dashboard' %}" class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-binoculars small text-white me-4"></i>
                <span class="small me-5">Dashboard</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'authors' %}" class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-columns small text-white me-4"></i>
                <span class="small me-5">Authors</span>
            </a>
        </li>
    </ul>

    <hr class="text-white w-100 my-1 text-center">
    {% if user.is_authenticated %}
    
    {% endif %}

    <ul class="nav flex-column my-4" id="#navbar_ul">
        <li class="nav-item w-100">
            <a href="{% url 'about' %}" class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-file-code small text-white me-4"></i>
                <span class="small me-5">About</span>
            </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item w-100">
            <a href="{% url 'logout' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-emoji-sunglasses small text-white me-4"></i>
                <span class="small me-5">Logout</span>
            </a>
        </li>
        {% else %}
        <li class="nav-item w-100">
            <a href="{% url 'login' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-emoji-sunglasses small text-white me-4"></i>
                <span class="small me-5">Login</span>
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{% url 'register' %}"
            class="small nav-link d-flex align-items-center justify-content w-100 text-white">
                <i class="bi bi-binoculars small text-white me-4"></i>
                <span class="small me-5">Register</span>
            </a>
        </li>
        {% endif %}
    </ul>
    <hr class="text-white w-100 my-2 text-center">

</nav>