{% extends 'base.html' %}

{% load humanize %}

{% block title %}My Profile{% endblock %}

{% block content %}
<section id="edit_profile" class="col mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card mt-3 mb-4 shadow rounded">
          <div class="card-header linearbackground text-white" style="background-color: #81fbae">
            <span class="px-2" style="font-weight: 600;">Edit profile</span>
          </div>
          <div class="card-body px-4">
            <p class="title">Provide your details and save.</p>
            <!-- Alerts
            {% include 'partials/_alerts.html' %}
            -->
            <form method="post">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <button type="submit" class="btn btn-success btn-sm float-end mx-3 mt-3">Save changes</button>
            </form>
            <a href="{% url 'view_profile'%}" class="btn btn-sm btn-secondary float-end mx-3 mt-3">Back to profile</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}