{% extends 'base.html' %}

{% block title %}Register Account {% endblock %}

{% block content %}
<section id="register" class="col mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card mt-3 mb-4 shadow rounded">
          <div class="card-header linearbackground text-white" style="background-color: #81fbae">
            <span class="px-2" style="font-weight: 600;">Register New User</span>
          </div>
          <div class="card-body px-4">
            <p class="title">Register new user by providing all the information below.</p>
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
              <div class="form-group my-3">
                <label for="first_name" class="small">First Name</label>
                <input type="text" name="first_name" class="form-control" required>
              </div>
              <div class="form-group my-3">
                <label for="last_name" class="small">Last Name</label>
                <input type="text" name="last_name" class="form-control" required>
              </div>
              <div class="form-group my-3">
                <label for="username" class="small">Username</label>
                <input type="text" name="username" class="form-control" required>
              </div>
              <div class="form-group my-3">
                <label for="email" class="small">Email</label>
                <input type="email" name="email" class="form-control" required>
              </div>
              <div class="form-group my-3">
                <label for="password2" class="small">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password" class="small">Confirm Password</label>
                <input type="password" name="password2" class="form-control" required>
              </div>
              <input type="submit" value="Register" class="btn btn-success btn-sm mx-3 mt-3 float-end">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}