{% extends 'base.html' %}

{% load humanize %}

{% load static %}
{% load admin_urls %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock %}

{% block content %}

<div class="card mt-3 mb-4 shadow rounded">

    <div class="card-body p-5" id="markdown-content">
        <h2>{{ title }}</h2>
        <p class="card-text mb-0">
            <small class="text-muted">Written by {{ author }}, Last updated {{ updated_at | naturalday }} ago.
            </small>
        </p>
        <p class="card-text mb-0 mt-2 text-muted small">Tags: <small class="text-muted small">#redhat #certification</small></p>
        <br>
        <img src="{{ cover_img }}" class="img-fluid w-75 align-items-center d-flex mx-auto" alt="...">
        {{ entry | safe }}
        <div class="d-flex flex-rowfloat-end align-items-center">
            <form method="post" name="add_star" action="{% url 'add_star' id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-warning">Upvote</button>
            </form>
            <a href="{% url 'edit_article' id %}" role=button class="btn btn-sm btn-danger mx-3">Edit article</a>
        </div>
    </div>
    <div class="card-header linearbackground text-white" style="background-color: #81fbae">
        <small class="float-end px-2" style="font-weight: 600;">Read <span class="badge bg-secondary ms-2 me-4">{{ read_number }}</span></small>
        <small class="float-end px-2" style="font-weight: 600;">Upvoted <span class="badge bg-secondary ms-2">{{ stars_number }}</span></small>
    </div>
</div>

{% endblock %}