{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block title %}Blog {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock %}

{% block content %}
<main class="col px-5">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar2"
                aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="justify-content-between mb-3" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold py-0 ps-0 small" aria-current="page" href="#"
                            style="font-weight: 400">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold  py-0 ps-3 small" style="font-weight: 400" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold py-0 ps-3 small" style="font-weight: 400"
                            href="#">Services</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <h1 class="text-center py-1">BLOG</h1>
    <br>
    <form action="{% url 'search_blog' %}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label class="sr-only">Content</label>
                <input type="text" name="content" class="form-control" placeholder="Content"
                    value="{{ values.content }}">
            </div>

            <div class="col-md-4 mb-3">
                <label class="sr-only">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Title" value="{{ values.title }}">
            </div>

            <div class="col-md-4 mb-3">
                <label class="sr-only">Category</label>
                <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Category (All)</option>
                    {% for key,value in category_list.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
    </form>
    {% for a in articles %}
    <div>
        <p><small>{{ a.category }}</small></p>
        <h3>{{ a.title }}</h3>
        <h5>{{ a.lead }}</h5>
        <p>{{ a.content | safe | slice:":200"}}...</p>
        <a href="{% url 'article' a.id %}" role=button class="btn btn-sm btn-warning">Continue reading</a>
        <p><small>Delivered to you by </small>{{ a.author}}</p>
        <p><small>Last updated: </small>{{ a.updated_at | naturalday }}</p>
    </div>
    {% endfor %}
</main>
{% endblock %}
