{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {% block css %} {% endblock %}
  <title>Django App | {% block title %}{% endblock %}</title>
</head>

<body class="container-fluid d-flex flex-fill" style="background-color: #f1f3f3; min-height: 100vh;">
  <div class="row flex-fill">
    {% include 'partials/_sidebar.html' %}
    <main class="col-lg-10 col-md-2 col-sm-9 px-5 d-flex flex-column text-underline" style="background-color: #fbfcfc">
      <h1 class="text-center py-3" style="color: #539b6d"><u>Web Dev Blog</u></h1>
      <br>
      {% block content %} {% endblock %}
    </main>
  </div>

  
  <script src="{% static 'js/jquery-3.6.0.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'js/main.js' %} "></script>
</body>

</html>