{% extends 'base.html' %}

{% load humanize %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="card mt-3 mb-4 shadow rounded">

  <div class="card-body p-5" id="markdown-content">
    <h2>Dashboard</h2>
    <p class="title">Articles count: {{ articles_count }}</p>
    <p class="title">Authors count: {{ authors_count.author__count }}</p>
    <p class="title">Oldest article: {{ oldest_article.created_at__min }}</p>
    <p class="title">Read number stats:</p>
    <ul>
      <li class="title">AVG {{ read_number_stats.read_number__avg }}</li>
      <li class="title">MAX {{ read_number_stats.read_number__max }}</li>
      <li class="title">MIN {{ read_number_stats.read_number__min }}</li>
      <li class="title">SUM {{ read_number_stats.read_number__sum }}</li>
    </ul>
    <p class="title">Number of articles written per day:</p>
    <ul>
      {% for day in articles_by_day %}
      <li class="title">{{ day.created_day }}: {{ day.article_count }}</li>
      {% endfor %}
    </ul>
    <p class="title">The Top 3 most viewed articles:</p>
    <ul>
      {% for day in highest_read %}
      <li><span class="title">{{ day.title }}</span> <span class="badge badge-dark text-dark">{{ day.blogcounts.read_number }}</span> </li>
      {% endfor %}
    </ul
  </div>
</div>

  {% endblock %}